$light = white
$night = black

$light-color = black
$light-link-color = #333
$light-link-hover-color = #666
$night-color = white
$night-link-color = #eee
$night-link-hover-color = #999

$media-small = 481px
$media-middle = 768px
$media-large = 1020px
